<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>controller.BuildingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteReportServlet</servlet-name>
        <servlet-class>controller.CompleteReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controller.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteReportServlet</servlet-name>
        <url-pattern>/CompleteReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>